body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #3abebe;
    font-family: cmr10, monospace;
    font-weight: bold;
    font-size: large;
}

.sign-up-button{
    position: fixed;
    top: 50%;
    right: 45%;
    padding: 10px;
    border-radius: 20px;
    background-color: cadetblue;

}

.sign-up-button:hover{
    cursor: pointer;
}

.pop-up-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20%;
}

.pop-up-form{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 3px solid green;
    width: 250px;
    border-radius: 20px;
    background-color: coral;
    display: none;
}

.form-display{
    animation: form-display 2s ;
}

@keyframes form-display {
    from{
        scale: 0;
    }

    to{
        scale: 1;
    }

}

.pop-up-form > label , input {
    margin: 10px;
}

.submit-button{
    padding: 10px;
    border-radius: 20px;
    background-color: #ff00a6;
    position: relative;
    left: 20px;
}

.submit-button:hover{
    cursor: pointer;
}

h5{
    border: 2px solid palegreen;
    border-radius: 20px;
    padding: 20px;
    background-color: deepskyblue;
    width: fit-content;
    font-weight: bold;
    color: green;
    font-size: large;
    position: fixed;
    top: 50%;
    right: 30%;
    display: none;
}

.h5{
    animation: h5 2s;
}

@keyframes h5 {
    from{
        scale: 0;
    }

    to{
        scale: 1;
    }

}